* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
}

.board {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
  position: relative;
}
.board .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
.board .card.open {
  transform: rotateY(180deg);
  background: #02b3e4;
  cursor: default;
  transition: 1s;
}
.board .card.open i {
  transform: rotateY(-180deg);
}
.board .card.show {
  font-size: 33px;
}
.board .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

body {
  background: #ffffff url("../img/geometry2.png");
  font-family: "Coda", cursive;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start_game {
  display: flex;
  margin: 15px auto;
  align-items: center;
  justify-content: center;
  border: black 2px solid;
  padding: 5px 10px;
  background-color: whitesmoke;
}

.start_game_btn {
  background-color: white;
  font-size: 14px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.score-panel {
  text-align: left;
  width: 345px;
  margin: 0 45px 15px 0;
}

.score-panel .stars {
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

.game_victory {
  position: absolute;
  top: 40%;
  left: 47%;
  z-index: 2;
  display: none;
}

.game_victory_play-again {
  margin: 10px 0 0 40px;
}

.play_again {
  display: block;
  padding: 10px 15px;
  background-color: greenyellow;
}

.game_victory_icon {
  margin: 0 0 20px 60px;
  width: 50px;
  height: 50px;
  border: 2px #19bd51 solid;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  color: #19bd51;
}
.game_victory_icon i {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
